<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>Documentation | MoSync</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="MobileSorcery | © 2004-2008 All Rights Reserved" />
<meta name="description" content="MoSync is a tightly integrated collection of tools for mobile development across multiple platforms. It includes a compiler targeting the efficient MoSync architecture and a multitude of runtimes to execute MoSync applications on a variety of platforms." />
<meta name="keywords" content="Mobile Sorcery,Mobile Development,Porting Solutions,Mobile Content Deployment,Mobile Phone Applications,Mobile Application Development,BREW Development,J2ME Development,Windows Mobile Development,Symbian Development" />
<meta name="robots" content="index,follow" />
<meta name="DC.title" content="MoSync | Mobile development made easy" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<style type="text/css" media="all">@import "css/style.css";</style>
<style type="text/css" media="all">@import "css/code.css";</style>
</head>
<body class="front logged-in ntype-page sidebar-right">
  <div id="page">
    <div id="header">
      <div id="logo-title">  
        <a href="/" title="Home">
            <img src="images/header.gif" alt="Home" id="logo" /></a>        
      </div> <!-- /logo-title -->
      <div id="navigation" class="menu withprimary ">
                        <div id="block-menu-2" class="block block-menu">  
  <div class="blockinner">

    <h2 class="title">  </h2>
    <div class="content">
      
<ul class="menu">
<li class="leaf"><a href="/" title="Home">Home</a></li>
<li class="expanded"><a href="#" >Products</a>
<ul class="menu">
<li class="leaf"><a href="/mosync" title="Find out more on MoSync">MoSync</a></li>

</ul>
</li>

<li class="expanded"><a href="#" >Community</a>
<ul class="menu">
<li class="leaf"><a href="/blogs" title="MoSync Development Blog">Blog</a></li>
<li class="leaf"><a href="http://mosync.com/forum" title="MoSync Forum">Forum</a></li>

</ul>
</li>
<li class="expanded"><a href="#" >Solutions</a>
<ul class="menu">
<li class="leaf"><a href="/showcase" title="Member&#039;s project showcase">Project Showcase</a></li>

</ul>

</li>
<li class="leaf"><a href="/download" title="Download MoSync now">Download</a></li>
<li class="expanded"><a href="#" >Support</a>
<ul class="menu">
<li class="leaf"><a href="/docu" title="MoSync Documentation">Documentation</a></li>
<li class="leaf"><a href="/faq" title="Frequently asked questions">FAQ</a></li>
<li class="leaf"><a href="/screencasts" title="Screencast of MoSync in Action">Screencasts</a></li>
<li class="leaf"><a href="/examples" title="Example MoSync projects from The MoSync Team">Code Examples</a></li>

</ul>
</li>

<li class="leaf"><a href="/news" title="News and press releases">News</a></li>
<li class="expanded"><a href="#" >Company</a>
<ul class="menu">
<li class="leaf"><a href="http://www.mobilesorcery.com" title="Mobile Sorcery - About our company">Mobile Sorcery</a></li>
<li class="leaf"><a href="/mosyncteam" title="The MoSync Team">About us</a></li>
<li class="leaf"><a href="/contact" title="Contact us">Contact us</a></li>

</ul>
</li>

</ul>
    </div>    
  </div>

</div>
            
      </div> <!-- /navigation -->
            
    </div><!-- /header -->
          <div id='shadowspacer'>
                        <span class="hidden">&nbsp;</span>
          </div>
          
    <div id="container" class="clear-block">
      <div id="main" class="column"><div id="squeeze">
        <h1 class="title"><%title%></h1>     
        <h1 class="author"><%author%></h1>        
        

    <div class="content">
    <%content%>
    <div> <!-- /content -->
</div>


</div>                      </div></div> <!-- /squeeze /main -->

              <div id="sidebar-right" class="column sidebar">
          <div id="block-search-0" class="block block-search">  
  <div class="blockinner">

    <h2 class="title"> Search </h2>
    <div class="content">
      <form action="/search/node"  method="post" id="search-block-form">
<div><div class="container-inline"><div class="form-item">
 <input type="text" maxlength="128" name="search_block_form_keys" id="edit-search-block-form-keys"  size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_token" id="edit-search-block-form-form-token" value="a659f2b0c7ed7dd5ab7d817cd30f9fce"  />
<input type="hidden" name="form_id" id="edit-search-block-form" value="search_block_form"  />
</div>
</div></form>

    </div>    
  </div>
</div>
<div id="block-views-News" class="block block-views">  
  <div class="blockinner">
    <h2 class="title"> Documentation </h2>

    <div class="content">
      <div class="item-list"><%menu%></div>
    </div>    
  </div>
</div>
        </div> <!-- /sidebar-right -->
      
    </div> <!-- /container -->

    <div id="footer-wrapper">
      <div id="footer">
        MobileSorcery | © 2004-2008 All Rights Reserved
      </div> <!-- /footer -->
    </div> <!-- /footer-wrapper -->
    
        
  </div> <!-- /page -->
</body>
</html>