Debug
Release
build
Output
output
debug
release
stores
FinalOutput
ipch

CPP_IX_*.h
IX_*.h
*.ncb
*.suo
*.user
*.class
*.swp
*~
*.opensdf
*.sdf

MAHeaders.h
program
resources
log.txt
panic.report
Stabs.tab
Sld.tab
Thumbs.db
stabs.tab
.mosyncproject.local
fp.xml
profile.txt
.DS_Store

config_platform.h

/*.bat

/ipch/*

/tools/profileGenerator/input/*
/tools/profileGenerator/output/*
/tools/ProfileConverter/profiles/*
/tools/ProfileConverter/profiles.db

/tools/GLWrapperGenerator/magl_functions.h
/tools/GLWrapperGenerator/opengl_generated.idl
/tools/GLWrapperGenerator/opengl_invoke_generated.jpp

/tools/idl2/opengl_generated.idl

/tools/WrapperGenerator/tests/*.h.cpp
/tools/WrapperGenerator/tests/*.h.idl
/tools/WrapperGenerator/tests/*.h.xml

/tools/pipe-tool/PBProto.h
/tools/pipe-tool/PBProtoPub.h

/tools/ReleasePackageBuild/run.bat
/tools/ReleasePackageBuild/setcurrev.bat

/tools/DocbookIndexer/src/*.c
/tools/DocbookIndexer/src/*.s
/tools/DocbookIndexer/src/*.cpp
/tools/DocbookIndexer/src/*.h
/tools/DocbookIndexer/src/res.lst
/tools/DocbookIndexer/src/input/999_Misc/Panics.xml

/tools/debugger/operations_generated.cpp
/tools/debugger/operations_generated.h
/tools/debugger/mdb_log.txt
/tools/debugger/start.bat

/tools/RuntimeBuilder/Settings.rb

/intlibs/helpers/asm_config.h
/intlibs/helpers/cpp_defs.h
/intlibs/helpers/cpp_maapi.h
/intlibs/helpers/maapi_defs.h
/intlibs/helpers/constSets.h

/intlibs/stabs/stabs_builtins_generated.h

/intlibs/bluetooth/config_bluetooth.h

/libs/MAStd/GLES/magl_functions.h
/libs/MAStd/maapi.h
/libs/MAStd/maapi_defs.h
/libs/MAUI-revamp/DefaultSkin.h
/libs/MTXml/entities.c
/libs/newlib/libc/sys/mosync/maapi.h
/libs/newlib/libc/sys/mosync/maapi_defs.h

/testPrograms/_masterdump.s
/testPrograms/temp.s
/testPrograms/copyfiles.bat
/testPrograms/filesystem/

/runtimes/cpp/generated

/runtimes/cpp/core/invoke_syscall_arm_recompiler.h
/runtimes/cpp/core/invoke_syscall_cpp.h

/runtimes/cpp/platforms/sdl/mosynclib/mosynclib.def
/runtimes/cpp/platforms/sdl/MoRE/filesystem/*

/runtimes/cpp/platforms/iphone/Classes/helpers/maapi_defs.h
/runtimes/cpp/platforms/iphone/Classes/syscall_static_cpp.h

/runtimes/cpp/platforms/iphone/Classes/data_section.bin
/runtimes/cpp/platforms/iphone/Classes/rebuild.build.cpp
/runtimes/cpp/platforms/iphone/data_section.bin
/runtimes/cpp/platforms/iphone/template/

/runtimes/cpp/platforms/winmobile/winmobile.sln

/runtimes/cpp/platforms/symbian/sis*/*.SIS

/runtimes/cpp/platforms/symbian/group*/setPath.bat
/runtimes/cpp/platforms/symbian/group*/setPath5.bat
/runtimes/cpp/platforms/symbian/group*/ABLD.BAT
/runtimes/cpp/platforms/symbian/group*/MOSYNC.xml
/runtimes/cpp/platforms/symbian/group*/MoSync.xml
/runtimes/cpp/platforms/symbian/group*/MOSYNC.mcp
/runtimes/cpp/platforms/symbian/group*/MoSync.mcp
/runtimes/cpp/platforms/symbian/group*/*.resources
/runtimes/cpp/platforms/symbian/group*/*.cwlink
/runtimes/cpp/platforms/symbian/group*/MoSync_Data/*
/runtimes/cpp/platforms/symbian/group-ed3/MoSync_icon.mif

/runtimes/cpp/platforms/symbian/server/ABLD.BAT
/runtimes/cpp/platforms/symbian/server/MoSyncServer.SIS

/runtimes/cpp/platforms/symbian/sis-ed3/1/*
/runtimes/cpp/platforms/symbian/sis-ed5/1/*

/runtimes/java/source/MAAPI_consts.h
/runtimes/java/source/core_consts.h
/runtimes/java/source/invoke_syscall_java.h
/runtimes/java/source/opengl_invoke_generated.jpp
/runtimes/java/source/syscall_static_java.h
/runtimes/java/shared/generated
/runtimes/java/Shared/generated
/runtimes/java/settargetdir.bat
/runtimes/java/source/config.h

/tools/ReleasePackageBuild/run.bat
/tools/ReleasePackageBuild/setcurrev.bat

/tools/RuntimeBuilder/Settings.rb

/tools/DocbookIndexer/src/*.c
/tools/DocbookIndexer/src/*.s
/tools/DocbookIndexer/src/*.cpp
/tools/DocbookIndexer/src/*.h
/tools/DocbookIndexer/src/res.lst
/tools/DocbookIndexer/src/input/999_Misc/Panics.xml

/intlibs/stabs/stabs_builtins_generated.h
/tools/debugger/operations_generated.cpp
/tools/debugger/operations_generated.h
/tools/debugger/mdb_log.txt
/tools/debugger/mdb_commands.txt
/tools/debugger/start.bat
/tools/debugger/filesystem

/tools/iphone-apns/Certs/

/runtimes/cpp/platforms/sdl/MoRE/filesystem/*
/runtimes/cpp/platforms/android/config_platform.h.saved
/runtimes/java/platforms/javaME/setdirs.bat
/runtimes/java/platforms/javaME/work.bat
/runtimes/java/platforms/javaME/src/opengl_invoke_generated.jpp

/runtimes/java/platforms/androidJNI/AndroidProject/libs
/runtimes/java/platforms/androidJNI/resources.ap_
/runtimes/java/platforms/androidJNI/cygwin_u.sh
/runtimes/java/platforms/androidJNI/AndroidProject/obj
/runtimes/java/platforms/androidJNI/AndroidProject/src/com/mosync/internal/generated
/runtimes/java/platforms/androidJNI/src/config_platform.h*

/runtimes/java/platforms/androidJNI/AndroidProject/assets/
/runtimes/java/platforms/androidJNI/AndroidProject/bash.exe.stackdump
/runtimes/java/platforms/androidJNI/AndroidProject/bin/
/runtimes/java/platforms/androidJNI/AndroidProject/gen/
/runtimes/java/platforms/androidJNI/AndroidProject/src/com/mosync/java/android/R.java

/tests/libc-suite/settings.rb
/tests/libc-suite/_masterdump.s
/tests/libc-suite/filesystem
/tests/libc-suite/loader/config.h

/tools/vis/sld.*

/examples/GenerateResources/config.rb
/examples/GenerateResources/profile.rb

/examples/FacebookDemo/config.h

/docs/*.dot.*

/tools/mhsd-display/mhsd.bin

/runtimes/csharp/windowsphone/mosync/mosync/Source/maapi.cs

/runtimes/csharp/windowsphone/mosync/mosync/Bin/rebuild_debug
/runtimes/csharp/windowsphone/mosync/mosync/Bin/rebuild_release
/runtimes/csharp/windowsphone/mosync/mosync/obj
/runtimes/csharp/windowsphone/mosync/mosync/RebuildData
/runtimes/csharp/windowsphone/mosync/mosync/*.sap
/runtimes/csharp/windowsphone/mosync/mosync/PerformanceLogs/
/runtimes/csharp/windowsphone/mosync/mosyncLib/obj
/runtimes/csharp/windowsphone/mosync/mosyncLib/bin
/runtimes/csharp/windowsphone/mosync/mosyncLibContent/bin
/runtimes/csharp/windowsphone/mosync/mosyncLibContent/obj
/runtimes/csharp/windowsphone/mosync/mosyncRuntime/obj/
/runtimes/csharp/windowsphone/mosync/mosyncRuntime/Source/maapi.cs

/rules/local_config.rb
