Debug
Release
build
Output
output
debug
release
stores
FinalOutput

CPP_IX_*.h
IX_*.h
*.ncb
*.suo
*.user
*.class

MAHeaders.h
program
resources
log.txt
panic.report
Stabs.tab
Sld.tab
Thumbs.db
stabs.tab

/tools/profileGenerator/input/*
/tools/profileGenerator/output/*
/tools/ProfileConverter/profiles/*

/intlibs/bluetooth/config_bluetooth.h
/intlibs/helpers/asm_config.h
/intlibs/helpers/cpp_defs.h
/intlibs/helpers/cpp_maapi.h
/libs/MAStd/GLES/magl_functions.h
/libs/MAStd/maapi.h
/runtimes/cpp/core/invoke_syscall_arm_recompiler.h
/runtimes/cpp/core/invoke_syscall_cpp.h
/runtimes/cpp/platforms/sdl/config_platform.h
/runtimes/cpp/platforms/sdl/mosynclib/mosynclib.def
/runtimes/java/source/MAAPI_consts.h
/runtimes/java/source/core_consts.h
/runtimes/java/source/invoke_syscall_java.h
/runtimes/java/source/opengl_invoke_generated.jpp
/runtimes/java/source/syscall_static_java.h
/runtimes/java/Shared/generated/*
/tools/GLWrapperGenerator/magl_functions.h
/tools/GLWrapperGenerator/opengl_generated.idl
/tools/GLWrapperGenerator/opengl_invoke_generated.jpp
/tools/idl2/opengl_generated.idl

/intlibs/helpers/constSets.h
/runtimes/cpp/platforms/symbian/group/ABLD.BAT
/runtimes/cpp/platforms/symbian/inc/config_platform.h
/testPrograms/_masterdump.s
/testPrograms/temp.s
/runtimes/cpp/platforms/symbian/group-ed3/MoSync_Data

/runtimes/cpp/platforms/symbian/group-ed3/MoSync.mcp
/runtimes/cpp/platforms/symbian/group-ed3/MoSync.xml
/runtimes/cpp/platforms/symbian/group-ed3/*.resources
/runtimes/cpp/platforms/symbian/sis/*.SIS
/runtimes/cpp/platforms/symbian/group-ed3/*.cwlink
/runtimes/cpp/platforms/symbian/group-ed3/ABLD.BAT
/runtimes/cpp/platforms/symbian/group-ed3/MoSync_icon.mif
/runtimes/cpp/platforms/symbian/group/MOSYNC.xml
/runtimes/cpp/platforms/symbian/group/MoSync.mcp
/runtimes/cpp/platforms/symbian/group/*.resources
/runtimes/cpp/platforms/symbian/group/*.cwlink
/runtimes/cpp/platforms/symbian/group/MoSync_Data/*
/runtimes/cpp/platforms/symbian/group-ed3-guido/MoSync_Data/*
/runtimes/cpp/platforms/symbian/group-ed3-guido/MoSync.mcp
/runtimes/cpp/platforms/symbian/group-ed3-guido/MoSync.xml
/runtimes/cpp/platforms/symbian/group-ed3-guido/MoSync2GCCE.resources
/runtimes/cpp/platforms/symbian/group-ed3-guido/*.cwlink
/runtimes/cpp/platforms/symbian/sis-ed3/1/*
/runtimes/cpp/platforms/symbian/sis-ed5/1/*

/runtimes/java/settargetdir.bat
/runtimes/java/source/config.h
/testPrograms/copyfiles.bat
/runtimes/cpp/platforms/winmobile/config_platform.h
/tools/pipe-tool/PBProto.h
/tools/pipe-tool/PBProtoPub.h

/tools/ReleasePackageBuild/run.bat
/tools/ReleasePackageBuild/setcurrev.bat

/tools/DocbookIndexer/src/*.c
/tools/DocbookIndexer/src/*.s
/tools/DocbookIndexer/src/*.cpp
/tools/DocbookIndexer/src/*.h
/tools/DocbookIndexer/src/res.lst
/tools/DocbookIndexer/src/input/999_Misc/Panics.xml

/intlibs/stabs/stabs_builtins_generated.h
/tools/debugger/operations_generated.cpp
/tools/debugger/operations_generated.h
/tools/debugger/mdb_log.txt

/tools/debugger/start.bat

/runtimes/cpp/platforms/sdl/MoRE/fp.xml
/runtimes/cpp/platforms/sdl/MoRE/profile.txt
/runtimes/cpp/platforms/sdl/MoRE/filesystem/*
/runtimes/java/platforms/javaME/setdirs.bat
/runtimes/java/platforms/javaME/src/config_platform.h
/runtimes/java/platforms/javaME/src/opengl_invoke_generated.jpp
/runtimes/java/shared/generated/MAAPI_consts.h
/runtimes/java/shared/generated/core_consts.h
/runtimes/java/shared/generated/invoke_syscall_java.h
/runtimes/java/shared/generated/opengl_invoke_generated.jpp
/runtimes/java/shared/generated/syscall_static_java.h