// this file must be a text file with unix-style line endings (LF only).
// it will contain a list of urls (one per line).
// each url is a test program to run.
#define LIST_URL "http://localhost:5004/libc_tests.urls"
