Package: mosync
Version: $version
Section: devel
Priority: extra
Architecture: i386
Installed-Size: $installed-size
Depends: zip, unzip, binutils, openssl, imagemagick
Maintainer: MoSync AB <info@mosync.com>
Description: MoSync mobile development SDK
