/** CHANGE COLORS HERE **/

body, .toolbar, #jqt ul, #jqt ul.individual li,#jqt ul li a.active,#jqt .info,#jqt #plastic,#tabbar, .s-scrollpane {
    background-color: #519d00; /* main background color */
}
#jqt h1, #jqt h2, #jqt ul li a,#jqt .whiteButton, #jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active,#jqt ul li small,#tabbar .badge,#jqt .info,#jqt .info a  {
    color: #2e6c00; /* main text color */
}

/** END **/

body, .toolbar, #jqt ul, #jqt ul.individual li, #jqt ul li a.active,#tabbar,.s-scrollwrapper {
    background-image: url(img/bg_noise.png);
}
#jqt > * {
    background: rgba(255,255,255,0.9);
}
#jqt h1, #jqt h2, #jqt ul li a {
    font: bold 18px "Helvetica Neue", Helvetica;
    text-shadow: white 0 1px 0;
    margin: 10px 20px 5px;
}
/* @group Toolbar */
#jqt .toolbar {
    -webkit-box-sizing: border-box;
/*     border-bottom: 1px solid rgba(0,0,0,0.5); */
    padding: 10px;
    height: 45px;
    position: relative;
    -webkit-box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2);
}
#jqt .black-translucent .toolbar {
    margin-top: 20px;
}
#jqt .toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
#jqt.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    padding: 0 8px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-transform: uppercase;
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
}
#jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active {
    background: rgba(255,255,255,0.9);
    text-shadow: none;
}
#jqt .blueButton {
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}
#jqt .back {
    left: 6px;
    right: auto;
    max-width: 41px;
    padding-left: 11px;
    border-width: 0 0 0 9px;
    border-radius: 0 8px 8px 0;
    -webkit-mask-image: url(img/mask_button_back.svg);
}
#jqt .leftButton, #jqt .cancel {
    left: 6px;
    right: auto;
}
#jqt .add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
#jqt .whiteButton,#jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

#jqt .whiteButton.active, #jqt .grayButton.active, #jqt .redButton.active, #jqt .blueButton.active, #jqt .greenButton.active,
#jqt .whiteButton:active, #jqt .grayButton:active, #jqt .redButton:active, #jqt .blueButton:active, #jqt .greenButton:active {
  
}
#jqt .whiteButton {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
#jqt .whiteButton.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
#jqt .grayButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#888));
}
#jqt .grayButton.active {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#aaa));
}
#jqt .redButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee0000), to(#cc0000));
}
#jqt .redButton.active {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc0000), to(#ee0000));
}
#jqt .greenButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(green), to(darkgreen));
}
#jqt .greenButton.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkgreen), to(green));
}

/* @end */
/* @group Lists */
#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
    margin-top: 0;
}
#jqt ul {
    color: #aaa;
    font: bold 18px "Helvetica Neue", Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
}
#jqt ul.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}
#jqt ul.rounded li a, #jqt ul.individual li a {
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
#jqt ul.rounded li:first-child, #jqt ul.rounded li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#jqt ul.rounded li:last-child, #jqt ul.rounded li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#jqt ul li {
    color: white;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.8);
}
#jqt ul li:first-child, #jqt ul.individual li {
  border: none;
}
#jqt ul.rounded li a.active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    background-image: none;
}
#jqt ul li.arrow {
    background-image: url(img/chevron.svg);
    background-position: right center !important;
    background-repeat: no-repeat !important;
}

#jqt ul li.arrow a {
    padding: 12px 22px 12px 10px;
}

#jqt ul li.forward {
    background-image: url(img/chevron_circle.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
/* universal links on list */
#jqt ul li a, #jqt li.img a + a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#jqt ul li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
/*
#jqt ul li.arrow a.active {
    background-image: url(img/chevron.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
#jqt ul li.forward a.active {
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
*/
#jqt ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}
#jqt ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}
#jqt ul li.img a + small + a {
    margin-left: -5px;
}
#jqt ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}
#jqt ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}
#jqt ul li a + a {
    color: #000;
    font: 14px "Helvetica Neue", Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
#jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
    color: #666;
    font: 13px "Helvetica Neue", Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}
/*
@end */
/* @group Forms */
#jqt ul.form li {
    padding: 7px 10px;
}
#jqt ul.form li.error {
    border: 2px solid red;
}
#jqt ul.form li.error + li.error {
    border-top: 0;
}
#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
    color: white;
    background: transparent url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    border: 0;
    font: normal 17px "Helvetica Neue", Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}
#jqt ul li input::-webkit-input-placeholder, #jqt ul li textarea::-webkit-input-placeholder {
    color: rgba(255,255,255,0.4);
}
#jqt ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}
#jqt ul li select {
    text-indent: 0px;
    background: transparent url(img/chevron.svg) no-repeat right center;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
    margin: 0;
    padding: 10px 10px;
}
#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px "Helvetica Neue", Helvetica;
    display: block;
    width: 246px;
    color: white;
    margin: -12px 0 0 17px;
}
/* @end */
/* @group Mini Label */
#jqt ul li small {
    font: 17px "Helvetica Neue", Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 0;
}
#jqt ul li.arrow small {
    padding: 0 15px;
}
#jqt ul li small.counter {
    font-size: 17px;
    line-height: 13px;
    font-weight: bold;
    background: rgba(0,0,0,.2);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: block;
    width: auto;
    margin-top: -24px;
}
#jqt ul li.arrow small.counter {
    margin-right: 15px;
}
/* @end */
/* @group Individual */
#jqt ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
}
#jqt ul.individual li {
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    margin-bottom: 10px;
}
#jqt ul.individual li + li {
    float: right;
}
#jqt ul.individual li a {
    color: #fff;
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}
/* @end */
/* @group Toggle */
#jqt .toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}
#jqt .toggle input[type="checkbox"]:checked {
    left: 0px;
}
#jqt .toggle input[type="checkbox"] {
    -webkit-appearance: textarea;
    -webkit-border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s;
    background-color: transparent;
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    border: 0;
    height: 27px;
    left: -55px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 149px;
}
/* @end */
/* @group Info */
#jqt .info {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    padding: 15px;
    font-weight: bold;
    -webkit-box-shadow: inset 0 -5px 5px rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom,from(rgba(255,255,255,0.8)))
}
/* @end */
/* @group Edge to edge */
#jqt ul.edgetoedge {
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
#jqt ul.edgetoedge li {
    background: rgba(255,255,255,0.9);
    font-size: 20px;
}
#jqt ul.edgetoedge li a.active {
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
#jqt ul.edgetoedge li.arrow {
    background-color: #404142 !important;
    background-image: url(img/chevron.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
#jqt ul.edgetoedge li.sep {
    background: rgba(255,255,255,0.25);
    color: #fff;
    font-size: 16px;
    padding: 2px 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    border: none;
}
#jqt ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}
/* @end */
/* @group Plastic */

#jqt ul.plastic {
    color: rgba(0,0,0,0.3);
    font: bold 18px "Helvetica Neue", Helvetica;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px 0;
    background: rgba(255,255,255,0.7);
}
#jqt ul.plastic li {
    color: rgba(0,0,0,0.6);
    list-style-type: none;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
#jqt ul.plastic li a {
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
}
#jqt ul.plastic li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
#jqt ul.plastic li small {
    color: #888;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
#jqt ul.plastic li.arrow {
    background-image: url(img/chevron_dark.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
#jqt ul.plastic li.forward {
    background-image: url(img/chevron_circle.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
#jqt ul.plastic li a.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
/* @group Metal */
#jqt ul.metal {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
    background: white;
}
#jqt ul.metal li {
    background-image: none;
    font-size: 26px;
    padding: 0;
}
#jqt ul.metal li a {
    padding: 13px;
    line-height: 26px;
    margin: 0;
    text-shadow: rgba(255,255,255,0.7) 0 1px 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(200,200,200,1)));
}
#jqt ul.metal li a em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}
#jqt ul.metal li a.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200,200,200,1)), to(rgba(238,238,238,1)));
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5)
}
#jqt ul.metal li small {
    float: right;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}
#jqt ul.metal li.arrow {
    background-image: url(img/chevron.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(img/chevron.svg), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    background-repeat: no-repeat;
    background-position: right center;
}
#jqt ul.metal li.arrow a small {
    padding-right: 15px;
    line-height: 17px;
}
/* @end */
input[type='submit'] {
    -webkit-border-radius: 4px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    border: 1px outset black;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    padding: 10px;
}
