<!DOCTYPE html>
<!--
* @file index.html
*
* Template application that provides Native UI functionality in
* HTML5 and JavaScript.
-->
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<script type="text/javascript" charset="utf-8" src="js/wormhole.js"></script>
	<script type="text/javascript">
		/**
		 * Initialization.
		 */
		function initialize()
		{
			document.addEventListener("backbutton", close, true);
			mosync.nativeui.initUI();
		}

		/**
		 * Handle the backbutton event.
		 */
		function close()
		{
			// Close the application if the back key is pressed.
			mosync.bridge.send(["close"]);
		}

		/**
		 * Called by the NativeUI library when the UI is ready to
		 * be shown. Show the main screen here.
		 *
		 * Here we illustrate how to add events to widgets and how to
		 * create widgets from JavaScript code.
		 */
		mosync.nativeui.UIReady = function()
		{
			// First get the screen we want to show.
			var mainScreen = document.getNativeElementById("mainScreen");

			// Show the screen.
			mainScreen.show();

			// Get an instacne of the vibrate button created in the markup.
			var vibrateButton = document.getNativeElementById("vibrateButton");

			// Add an event listener to it. This is an alternative to
			// specify a function name in the markup.
			vibrateButton.addEventListener("Clicked", function()
			{
				navigator.notification.vibrate(1000);
			});

			// Create a button in JavaScript.
			var helloButton = mosync.nativeui.create("Button", "helloButton",
			{
				// Declarative way of setting properties.
				"width": "100%",
				"text": "Say Hello"
			});

			// Here is how to set properties in code.
			helloButton.setProperty("fontSize", "20");

			// Setting the clicked function.
			helloButton.addEventListener("Clicked", function()
			{
				helloButton.setProperty("text",  "Hello World!");
			});

			// Add button to layout.
			helloButton.addTo("mainLayout");
		}

		/**
		 * Number of clicks on counterButton.
		 */
		var clickCounter = 0;

		/**
		 * Called when counterButton is clicked.
		 */
		function counterButtonClicked()
		{
			var label = document.getNativeElementById("textLabel");
			++clickCounter;
			label.setProperty("text", "No. of clicks: " + clickCounter);
		}
	</script>
</head>

<body onload="initialize()">
	<!-- All of the mosync.nativeui widgets should be wraped inside a
		tag with id="NativeUI" -->
	<div id="NativeUI">
		<!-- The element with id="mainScreen" has two tabs with screens -->
		<div widgetType="TabScreen" id="mainScreen">
			<!-- First Screen -->
			<div widgetType="Screen" id="widgetScreen" title="Widgets"
				icon_android="img/Android_TabIconDevice.png"
				icon_iOS="img/IOS_TabIconDevice.png">
				<div widgetType="VerticalLayout" id="mainLayout"
					width="-1" height="-1">
					<div widgetType="Label" id="textLabel" width="100%"
						text="Native UI in JavaScript"
						fontSize="26" fontColor="0xFFFFFF">
					</div>
					<div widgetType="Button" id="counterButton"
						width="100%" text="Click Me!" fontSize="20"
						onevent="counterButtonClicked()">
					</div>
					<div widgetType="Button" id="vibrateButton"
						width="100%" text="Vibrate"  fontSize="20">
					</div>
				</div>
			</div>
			<!-- Second Screen -->
			<div widgetType="Screen" id="webScreen" title="Web"
				icon_android="img/Android_TabIconWebView.png"
				icon_iOS="img/IOS_TabIconWebView.png">
				<div widgetType="WebView" id="webBrowser"
					width="100%" height="100%" url="http://www.google.com">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
